[Desktop Entry]
Version=1.0
Type=Application
Name=Ryujinx
GenericName=Switch Emulator
Comment=Nintendo Switch video game console emulator
Icon=/home/dummy/.local/share/icons/Ryujinx.png
TryExec=/home/dummy/.local/share/Ryujinx/Ryujinx
Exec=env COMPlus_EnableAlternateStackCheck=1 GDK_BACKEND=x11 /home/dummy/.local/share/Ryujinx/Ryujinx %f
Categories=Game;Emulator;GTK;
MimeType=application/x-nx-nro;application/x-nx-nso;application/x-nx-nsp;application/x-nx-xci;
Keywords=Switch;Nintendo;
Terminal=true
StartupWMClass=Ryujinx
PrefersNonDefaultGPU=true
